/* FLEX */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* GRID */

.grid {
    display: grid;
}


/* ETC */

.no-list {
    list-style: none;
}

.btn {
    cursor: pointer;
}

.visible {
    display: none;
}

.underline {
    text-decoration: none;
}