/* @import './main-horse.css'; */

@import './email.main-css/email-header.css';
@import './email.main-css/email-filter-section.css';
@import './email.main-css/email-list.css';
@import './email.main-css/email-modal.css';
@import './email.main-css/email-details.css';
@import './notes-css/notes-preview.css';
@import './notes-css/notes-app.css';
@import './notes-css/notes-editor.css';
@import './helpers.css';
@import '/style/books-main-css/books.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-appsus-logo {
    color: white;
    font-size: 35px;
}

.bgc-img {
    text-align: center;
    position: fixed;
    background-image: url("/img/horse-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    top: 80px;
    left: 32vw;
    margin: 0 auto;
    z-index: -1;
}

.main-home-page-header {
    color: white;
    position: relative;
    text-align: center;
    font-size: 100px;
    animation: mainHeaderAnimation .8s;
}

.home-page-txt {
    position: absolute;
    /* bottom: -200px; */
    left: 350px;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 23rem;
    animation: homepagetxtanm .8s;
}

@keyframes mainHeaderAnimation {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}

@keyframes homepagetxtanm {
    from {
        left: -1000px;
    }
    to {
        left: 350px
    }
}