 .read {
     font-weight: 800;
 }
 
 .compose {
     background-color: lightblue;
     width: 500px;
     height: 500px;
 }
 
 .email-btn {
     margin: 5px;
 }
 
 .email-main-header {
     color: mediumpurple;
     margin: 0 auto;
     text-align: center;
 }
 
 a {
     text-decoration: none;
 }
 
 .main-a {
     font-size: 40px;
 }
 
 .router-a {
     color: white;
     font-size: 20px;
     margin: 15px;
     padding: 10px;
 }
 
 .router-link-exact-active {
     color: rgb(237, 128, 241);
     font-weight: 800;
     letter-spacing: 1px;
 }
 
 .router-a:hover {
     color: mediumpurple;
 }
 
 .email-subject {
     color: black;
     border-top: 1px solid grey;
     border-bottom: 1px solid grey
 }
 
 .email-subject:hover {
     border: 1px solid grey
 }
 /* .email-container {
     background-color: rgb(233, 223, 223);
 } */