.note {
    /* background-color: lightblue; */
    position: relative;
    border: 1px solid black;
    /* margin: 2px; */
    /* padding: 2px; */
    border-radius: 10px;
    min-height: 100px;
}

.note-img img {
    height: 100%;
    width: 100%;
}

.text-area {
    margin: 5px auto;
    width: 90%;
    /* border: none; */
    outline: none;
    resize: none;
}